.App {
  text-align: center;
  width: 100vw;
  /* background-color: rgb(71, 209, 209); */
  background: rgb(6, 57, 74);
  background: linear-gradient(
    90deg,
    rgb(2, 31, 29) 2%,
    rgb(8, 56, 53) 30%,
    rgb(13, 111, 112) 74%,
    rgb(14, 117, 116) 97%
  );
}

.nav-bar {
  background-color: rgba(19, 56, 42, 0.514);
  height: 40px;
}
.nav-bar-item {
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  color: white;
}

ul {
  padding: 0;
  list-style: none;
  width: 100vw;
  height: fit-content;
}

.list-wrapper {
  display: flex;
  flex-direction: row;
}
li {
  margin: 10px;
  width: 20vw;
  text-align: center;
}
.link-name {
  color: white;
}
.songs-li {
  margin: auto;
  margin-bottom: 10px;

  color: white;
  text-decoration-line: underline;
}
.song-list {
  background-color: rgba(29, 27, 27, 0.856);
  border-radius: 20px;
  color: #fff;
  margin: auto;
  width: 40%;
}

.lyrics {
  width: 700px;
  text-align: center;
  margin: auto;
}
img {
  border-radius: 40px;
}
.albums {
  height: 100vh;
  width: 100vw;
}
.artists {
  height: 100vh;
}

.playlist {
  height: 100vh;
}

.home-lists {
  background-color: rgba(192, 192, 192, 0.274);
  border-radius: 40px;
}
